{% extends "base.html" %}

{% block title %}Dashboard Overview{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Dashboard Overview</h1>
        </div>
    </div>
    
    <div class="row g-4">
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="display-6">1,234</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Revenue</h5>
                    <p class="display-6">$45,678</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}